@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
:root{
    --primary-color: #062C30 ;
    --secondary-color: #05595B ;
    --ther-color: #F5F5F5 ;
    --fourth-color: #2eb3b5 ;
    --five-color:  #91d5d6;
}

.light-mode{
    --primary-color: #F5F5F5 ;
    --secondary-color: #05595B ;
    --ther-color: #062C30 ;
    --fourth-color: #206b6c ;
    --five-color: #05595B ;
}
body{
    min-height: 100vh;
    background: var(--primary-color);
    transition: 1s ease;
}
.navigationbar{
    top: 60px;
    position: fixed;
    width: 60px;
    height: 100%;
    background: #05595B;
    transition: .5s;
    overflow: hidden;
}
.navigationbar:hover,
.navigationbar.active
{
    width: 300px;
}
.navigationbar ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigationbar ul li{
    position: relative;
    width: 100%;
    list-style: none;
    transition: .3s;
}
.navigationbar ul li:hover{
    background: rgba(0, 0, 0, .3);
}
.navigationbar ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #F5F5F5;
}
.navigationbar ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigationbar ul li a .icon .fa{
    font-size: 20px;
}
.navigationbar ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #05595B;
    cursor: pointer;
}
.toggle.active{
    background: rgba(0, 0, 0, .3);
}
.toggle:before{
    content: '\f0c9';
    font-family: fontAwesome; 
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #F5F5F5;
}
.toggle.active:before{
    content: '\f00d';
}
nav{
    top: 0;
    height: 60px;
    z-index: 100%;
    position: fixed;
    width: 100%;
    background: #05595B;
    padding: 10px 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
/***********************************************/
.navigationbar .tabs .tab.is-active a[data-switcher]{
    background-color: rgba(0, 0, 0, 0.2);
}
/*****************************************/


main{
    padding-left: 8%;
    padding-right: 4.5%;
    padding-top: 8%;
}
.pages{
    /* margin-top: 8%; */
    padding: 2% 2%;
    color: var(--ther-color);
}
.pages .page{
    display: none;
}
.pages .page.is-active{
    display: block;
}
/* ******************************************* */
.home{
    display: flex;
}
.home .about{
    padding: 1rem;
    flex: 1 1 40rem;
    padding-bottom: 3rem;
}
.home h3{
    font-size: 2.5rem;
    text-transform: uppercase;
}
.home h4{
    padding-left: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.home .about p{
    color: var(--fourth-color);
}
.home .btn{
    cursor: pointer;
    margin-top: 0.7rem;
    padding: 0.2rem;
    border: none;
    background: transparent;
    border: 1px solid var(--fourth-color) ;
    color: var(--fourth-color);
    transition: 0.4s;
}
.home .btn:hover{
    background: #05595B;
    color: var(--primary-color);
    border-color: var(--secondary-color);
}
.hom .lastadded{
    align-items: center;
    text-align: center;
}
.home .lastadded .cards{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home .lastadded .card {
font-size: .7rem;
 width: 300px;
 min-height: 100px;
 border: 1px solid var(--secondary-color);
 border-radius: 8px;
 margin: 1rem 1rem;
 padding: .6rem 1rem;
}
.home .lastadded .card a{
    color: var(--fourth-color);
}

.sides{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sections .sides .sider .category{
display: flex;
align-items: center;
}
.sections .sides .sider .category .fa{
padding-right: 1rem;
}
.sections .sides .sider {
min-width: 30%;
max-width: 100%;
min-height: 100px;
border: 1px solid var(--secondary-color);
border-radius: 8px;
margin: 1rem 1rem;
padding: .6rem 1rem;
}
.sections .sides .sider ul {
padding-left: 2rem;
}
.sections .sides .sider ul a{
color: var(--fourth-color);
transition: .2s;
}
.sections .sides .sider ul a:hover{
filter: brightness(50%);
}

.sections .sides .sidel {
    min-width: 60%;
    max-width: 100%;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    align-items: center;
    text-align: center;
}


@media (max-width: 767px){
    .navigationbar{
        left: -60px;
    }
    .navigationbar.active{
        left: 0px;
        width: 100%;
    }
    main{
        padding-top: 16%;
        padding-right: 8%;
    }

}

/* ************************************* */
.boody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, .3);
}
.TITLE{
    user-select: none;
    font-size: 1.5rem;
    color: var(--fourth-color);
    padding-bottom: 1rem;
}
/* the relation section */
.relation{
    height: auto;
    min-width: 100%;
    user-select: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Abel;
    font-size: 1.5rem;
    justify-content: space-around;
    color: var(--fourth-color);

}
.relation input{
    color: var(--primary-color);
    width: 60%;
    height: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--five-color);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--five-color);
    font-family: Poppins;
}
/* the functions dependency section */
.function_dep{
    user-select: none;
    text-align: center;
    height: auto;
    min-width: 100%;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    font-family: Abel;
    font-size: 1.5rem;
    justify-content: space-around;
    color: var(--fourth-color);
}
.function_dep .fd{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.fd input{
    color: var(--primary-color);
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--five-color);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--five-color);
    font-family: Poppins;
}
.fd_input_wrap{
    padding-bottom: 10px;
}
.fd_input_wrap button{
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    color: var(--five-color);
    border: none;
    transition: .3s;
}
.fd_input_wrap button:hover{
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.5));
}

/* The set section */
.the_set{
    user-select: none;
    height: auto;
    min-width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Abel;
    font-size: 1.5rem;
    justify-content: space-around;
    color: var(--fourth-color);
    transition: .3s;
}
.the_set input{
    color: var(--primary-color);
    width: 60%;
    height: 60%;
    padding: 12px 20px;
    margin: 15px auto;
    display: inline-block;
    border: 1px solid var(--five-color);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--five-color);
    font-family: Poppins;
}
.set{
    min-width: 60%;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    display: flex;
}
.the_set button{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--five-color);
    border: none;
    color: var(--primary-color);
    transition: .3s;

}
.the_set button:hover{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

/* The result section */
.result{

    height: auto;
    width: 60%;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Abel;
    font-size: 1.5rem;
    justify-content: space-around;
    color: var(--fourth-color);
    padding-bottom: 10px;
}
.outp{
    align-items: center;
    justify-content: center;
    display: flex;
}
.inp{
    display: flex;
}
/* ********************** */
.clacInfo{
    margin-top: 2rem;
    border: 1px solid #05595B;
    border-radius: 8px;
    padding: 8px 12px;
}
.clacInfo .title{
    font-size: 1.5rem;
    color: var(--fourth-color);
}
.clacInfo .paragra{
    color: var(--five-color);
}
/* **************** */
footer{
    background: #05595B;
    height: auto;
    padding-top: 10px;
    margin-top: 200px;
    bottom: 0;
}
.footer-content{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--primary-color);
}
.footer-content h3{
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
}
.footer-content p{
    max-width: 500px;
    /* margin: 10px auto; */
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .6rem 0 .6rem 0;
}
.socials li{
    margin:  0 10px;
}
.socials a{
    text-decoration: none;
}
.socials a{
    font-size: 1.4rem;
    color: var(--primary-color);
    transition: .4s ease;
}
.socials a:hover{
    color: #2eb3b5;
}
.footer-bottom{
    background: rgba(0, 0, 0, .3);
    padding: 10px 0;
    text-align: center;
    color: #206b6c;
}
/*********/
.DLmode{
    justify-content: center ;
    text-align: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 40px;
    height: 40px;
    background: var(--secondary-color);
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    font-size: 1.4rem;
}
.DLmode img{
    filter: contrast(40%);
    transition: .4s ease-out;
}
.DLmode img:hover{
    filter: contrast(0%);
}
