@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-attachment: fixed;
}
.logo{
    cursor: pointer;
    width: 140px;
}
header{
    width: 100%;
    display: flex;
    background-color: #c1c2fb;
    padding: 0 0 0 80px ;
}
.contact img{
    width: 28px;
}
.contact li{
    display: inline-block;
    padding: 0px 5px;
    text-transform: uppercase;
}
.contact{
    padding-left: 700px;
    display: flex;
    justify-content:space-between;
    margin: auto;
}
.contact img:hover{
    transition: 0.9s ease;
    filter:  brightness(0%);
    /*filter: drop-shadow(1px 1px 1px #c1c2fb);*/
}
 .sides{
     background-color: rgba(0,0,0,0.3);
     /*border-radius: 15px;*/
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Abel';
    color: #c1c2fb;
}
 .sides .leftSide{

    background-color: rgba(0,0,0,0.3);
    align-items: center;
    padding: 0 25px;
    display: flex;
    width: 200px;
    font-family: 'Abel';
    color: #c1c2fb;
    padding: 20px;
 }
.sides .leftSide ul a{
    list-style: none;
    padding: 12px 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
 }
.sides .leftSide li:hover{
    filter: brightness(60%);
    transition: 0.2s ease;
}
.sides .rightSide{
    align-items: center;
    padding: 50px 100px;
}
.sides .leftSide ul li.active{
filter: brightness(50%);
border-bottom: 1px solid #c1c2fb;
border-radius: 1px;
}
.title{
    padding-bottom: 50px;
}

/*about me section*/
.rightSide .about_info .aa{
    display:flex;
    align-items: center;
    font-size: 30px;
}
.rightSide .about_info .aa h1{
padding-left: 30px;
}
.rightSide .about_info .aa img{
    border-radius: 50px;
    width : 80px ;
}
.rightSide .about_info p{
    padding-left: 80px;
    font-size: 18px;
}
.tables{
    font-size: 16px;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    font-family: 'Abel';
}
.left_ {
    text-transform: uppercase;
    font-family: 'Abel';
    width: 20%;
    text-align: center;
}
.right_ {
    width: 60%;
    text-align: center;
}
.line {
    padding-bottom: 5px;
    display: flex;
}
.one .left_ {
    border-top-left-radius: 5px;
    border-top:1px solid #c1c2fb;
    border-right: 1px solid #c1c2fb;
    border-bottom:1px solid #c1c2fb;

}
.one .right_{
    border-bottom:1px solid #c1c2fb;
    border-top:1px solid #c1c2fb;
    border-left: 1px solid #c1c2fb;
    border-top-right-radius: 5px;
}
.two .left_{
    border-top:1px solid #c1c2fb;
    border-right: 1px solid #c1c2fb;
    border-bottom:1px solid #c1c2fb;
}
.two .right_{
    border-bottom:1px solid #c1c2fb;
    border-top:1px solid #c1c2fb;
    border-left: 1px solid #c1c2fb;
}
.three .left_{
    border-top:1px solid #c1c2fb;
    border-right: 1px solid #c1c2fb;
    border-bottom:1px solid #c1c2fb;
}
.three .right_{
    border-bottom:1px solid #c1c2fb;
    border-top:1px solid #c1c2fb;
    border-left: 1px solid #c1c2fb;
}
.four .left_{
    border-bottom:1px solid #c1c2fb;
    border-top:1px solid #c1c2fb;
    border-right: 1px solid #c1c2fb;
    border-bottom-left-radius: 5px;
}
.four .right_{
    border-bottom:1px solid #c1c2fb;
    border-top:1px solid #c1c2fb;
    border-left: 1px solid #c1c2fb;
    border-bottom-right-radius: 5px;
}

/*education section*/
.education_info div{
    justify-content: space-between;
    display: flex;
    background-color:rgba(0,0,0,0.3);
    padding: 10px 25px;
    font-family: 'Abel';
    border: 1px solid #c1c2fb;
    line-height: 1;
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
}
.education_info div::before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c1c2fb;
    border: 3px solid #c1c2fb;
    position: absolute;
    top: 10px;
    left: -40px;
}
.education_info div:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #c1c2fb transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -17px;
    top: 10px;
}
.education_info {
    width: 800px;
    margin: auto;
    border-left: 2px solid #c1c2fb;
    padding: 50px 20px 0 30px;
}

/*skills section*/
.skills_info img{
    width: 30px;
}
.lang{
    justify-content: space-between;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    padding: 5px 10px 5px 10px;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    width: 800px;
    border: 1px solid #c1c2fb;
}
.lang .bar_{
    height: 15px;
    width: 40%;
    background-color: rgb(108, 101, 167);
}
.percentage {
    font-size: 12px;
    text-align: right;
    color: #15163b;
}
.C .bar_ .percentage{
    background: #c1c2fb;
    width: 85%;
}
.cpp .bar_ .percentage{
    background: #c1c2fb;
    width: 75%;
}
.html .bar_ .percentage{
    background: #c1c2fb;
    width: 80%;
}
.js .bar_ .percentage{
    background: #c1c2fb;
    width: 60%;
}
.css .bar_ .percentage{
    background: #c1c2fb;
    width: 75%;
}
.sql .bar_ .percentage{
    background: #c1c2fb;
    width: 70%;
}
.design{
    width: 900px;
    justify-content: space-between;
    display: flex;
}
.dsn{
    justify-content: space-between;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    padding: 5px 10px 5px 10px;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    width: 400px;
    border: 1px solid #c1c2fb;
}
.ps .bar_ .percentage{
    background: #c1c2fb;
    width: 80%;
}
.ai .bar_ .percentage{
    background: #c1c2fb;
    width: 75%;
}
.skills_info .categ{
    padding-bottom: 5px;
    padding-top: 5px;
}

/*hobbies section*/
.hobbies_info .cards .card img{
    width: 125px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.hobbies_info .cards{
    padding-top: 15px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.hobbies_info .cards .card {
    background-color: rgba(0,0,0,0.3);
    border: 1px solid #c1c2fb;
    border-radius: 5px;
    transition: 0.2s ease-in;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 25px;
}
.hobbies_info .cards .card:hover{
    cursor: pointer;
    background-color: #c1c2fb;
    color: #15163b;
}
.hobbies_info .cards .portfolio img{
width: 50px;
padding-top: 10px;
transition: 0.4s ease-out;
}
.hobbies_info .cards .portfolio{
    margin: auto;
}
.hobbies_info .cards .portfolio img:hover{
    cursor: pointer;
    filter: brightness(50%);
}