@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
:root{
    --primary-color: #062C30 ;
    --secondary-color: #05595B ;
    --ther-color: #F5F5F5 ;
    --fourth-color: #2eb3b5 ;
    --five-color:  #91d5d6;
}

.light-mode{
    --primary-color: #F5F5F5 ;
    --secondary-color: #05595B ;
    --ther-color: #062C30 ;
    --fourth-color: #206b6c ;
    --five-color: #05595B ;
}
body{
    min-height: 100vh;
    background: var(--primary-color);
    transition: 1s ease;
}
.navigationbar{
    top: 60px;
    position: fixed;
    width: 60px;
    height: 100%;
    background: #05595B;
    transition: .5s;
    overflow: hidden;
    z-index: 999;
}
.navigationbar:hover,
.navigationbar.active
{
    width: 180px;
}
.navigationbar ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigationbar ul li{
    position: relative;
    width: 100%;
    list-style: none;
    transition: .3s;
}
.navigationbar ul li:hover{
    background: rgba(0, 0, 0, .3);
}
.navigationbar ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #F5F5F5;
}
.navigationbar ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigationbar ul li a .icon .fa{
    font-size: 20px;
}
.navigationbar ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #05595B;
    cursor: pointer;
}
.toggle.active{
    background: rgba(0, 0, 0, .3);
}
.toggle:before{
    content: '\f0c9';
    font-family: fontAwesome; 
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #F5F5F5;
}
.toggle.active:before{
    content: '\f00d';
}
nav{
    top: 0;
    height: 60px;
    z-index: 999;
    position: fixed;
    width: 100%;
    background: #05595B;
    padding: 10px 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
/***********************************************/
.navigationbar .tabs .tab.is-active a[data-switcher]{
    background-color: rgba(0, 0, 0, 0.2);
}
/*****************************************/


main{
    padding-left: 8%;
    padding-right: 4.5%;
    padding-top: 8%;
}
.pages{
    /* margin-top: 8%; */
    padding: 2% 2%;
    color: var(--ther-color);
}
.pages .page{
    display: none;
}
.pages .page.is-active{
    display: block;
}
/* ******************************************* */
.sides{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sections .sides .sider .category{
display: flex;
align-items: center;
}
.sections .sides .sider .category .fa{
padding-right: 1rem;
}
.sections .sides .sider {
min-width: 30%;
max-width: 100%;
min-height: 100px;
border: 1px solid var(--secondary-color);
border-radius: 8px;
margin: 1rem 1rem;
padding: .6rem 1rem;
}
.sections .sides .sider ul {
padding-left: 2rem;
}
.sections .sides .sider ul a{
color: var(--fourth-color);
transition: .2s;
}
.sections .sides .sider ul a:hover{
filter: brightness(50%);
}

.sections .sides .sidel {
    min-width: 60%;
    max-width: 100%;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    align-items: center;
}


@media (max-width: 767px){
    .navigationbar{
        left: -60px;
    }
    .navigationbar.active{
        left: 0px;
        width: 100%;
    }
    main{
        padding-top: 16%;
        padding-right: 8%;
    }

    .sides{
        justify-content: center;
    }
}

/* ************************************* */

/* ********************** */
.clacInfo{
    margin-top: 2rem;
    border: 1px solid #05595B;
    border-radius: 8px;
    padding: 8px 12px;
}
.clacInfo .titlei{
    font-size: 1.5rem;
    color: var(--fourth-color);
}
.clacInfo .paragra{
    color: var(--five-color);
}
/* **************** */
footer{
    background: #05595B;
    height: auto;
    padding-top: 10px;
    margin-top: 200px;
    bottom: 0;
}
.footer-content{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--primary-color);
}
.footer-content h3{
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
}
.footer-content p{
    max-width: 500px;
    /* margin: 10px auto; */
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .6rem 0 .6rem 0;
}
.socials li{
    margin:  0 10px;
}
.socials a{
    text-decoration: none;
}
.socials a{
    font-size: 1.4rem;
    color: var(--primary-color);
    transition: .4s ease;
}
.socials a:hover{
    color: #2eb3b5;
}
.footer-bottom{
    background: rgba(0, 0, 0, .3);
    padding: 10px 0;
    text-align: center;
    color: #206b6c;
}
/*********/
.DLmode{
    justify-content: center ;
    text-align: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 40px;
    height: 40px;
    background: var(--secondary-color);
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    font-size: 1.4rem;
}
.DLmode img{
    filter: contrast(40%);
    transition: .4s ease-out;
}
.DLmode img:hover{
    filter: contrast(0%);
}
.content{
    align-items: center;
    width: 100%;
    padding-top: 15px;
}
.content input{
    color: var(--primary-color);
    width: 80%;
    height: 60%;
    padding: 12px 20px;
    margin: 15px auto;
    display: inline-block;
    border: 1px solid var(--five-color);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--five-color);
    font-family: Poppins;
}
.content select {
    color: var(--primary-color);
    width: 80%;
    height: 60%;
    padding: 12px 20px;
    margin: 15px auto;
    display: inline-block;
    border: 1px solid var(--five-color);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--five-color);
    font-family: Poppins;
}
.paragra span{
    padding-left: 2%;
}
.content textarea {
    color: var(--primary-color);
    width: 80%;
    max-width: 80%;
    padding: 12px 20px;
    margin: 15px auto;
    display: inline-block;
    border: 1px solid var(--five-color);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--five-color);
    font-family: Poppins;
}
  
button:hover{
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.5));
}
.titlee{
    font-size: 1rem;
    color: var(--fourth-color);
    padding-left: 10%;
}
button{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--five-color);
    border: none;
    color: var(--primary-color);
    transition: .3s;
}
.btns{
    padding-bottom: 8px;
}
.tooltip {
    position: relative;
    display: inline-block;
    padding-left: 10%;
    padding-bottom: 8px;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #2eb3b5;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2eb3b5 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field{
    display: flex;
    flex-direction: column;
    width: 80%;
}